@font-face {
  font-family: 'hackthevalley';
  src: url(/fonts/hackthevalley-webfont.eot?b1f352217a6dbe7e3e2b84d3defec42b);
  /* IE9 Compat Modes */
  src: url(/fonts/hackthevalley-webfont.woff2?83c39c285f587964a63be433b98252ca) format('woff2'),  url(/fonts/hackthevalley-webfont.woff?bf7c9d842d46ecb7afba53e25feed0e8) format('woff'),  url(/fonts/hackthevalley-webfont.svg?274e608b50bc10ad160300bb4523cc5a) format('svg');
  /* Legacy iOS */
}
.primary-font {
  font-family: 'hackthevalley';
}
.body-font {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url(/images/home_background.jpg?ac0e5852fdef76722bcc47db6644cbe1);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}
#app {
  padding-top: 100px;
}
#app #twitter-container {
  position: fixed;
  overflow-y: scroll;
  max-height: calc(100% - 130px);
  margin-left: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
          box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
}
h2 {
  font-family: 'hackthevalley';
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
  font-size: 50px;
}
.mini-link {
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
}
.mini-link a {
  color: white;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}
h3 {
  font-family: 'hackthevalley';
  color: white;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  font-size: 30px;
}
.event {
  padding-bottom: 20px;
}
.event .event-until {
  color: white;
  font-size: 18px;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  font-family: 'Montserrat', sans-serif;
}
.event .event-labels {
  display: inline-block;
  font-size: 18px;
}
.event .event-labels .label {
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.event .event-timing {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  color: white;
  font-size: 16px;
}
.event a {
  text-decoration: underline;
  color: white;
}
.event .event-location {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.events-container {
  text-align: center;
}
.events-container h2 {
  padding-bottom: 30px;
}
.large-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
}
.notify-top {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding-top: 20px;
  z-index: 999;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.notify-top .notify-top-inner {
  display: inline-block;
  background-color: white;
  max-width: 700px;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
}
.card {
  margin-right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
}
.card .card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
@media (max-width: 993px) {
  .card {
    margin-right: 0;
  }
  #app {
    padding-bottom: 50px;
  }
  #app #twitter-container {
    position: static;
    height: auto;
    max-height: initial;
    margin-left: 0;
    border-radius: 0;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
    border-radius: initial;
  }
  h2 {
    font-size: 30px;
  }
  .large-description {
    font-size: 16px;
  }
}
.navbar.navbar-default {
  background-color: #738297;
  border: none;
  position: fixed;
  width: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 0;
  z-index: 99;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
}
.navbar.navbar-default .navbar-header {
  background-color: #738297;
  z-index: 99;
  position: relative;
}
.navbar.navbar-default .navbar-header .navbar-brand {
  margin-left: 20px;
}
.navbar.navbar-default .navbar-header .navbar-brand img {
  height: 75px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.navbar.navbar-default .navbar-header .navbar-toggle {
  color: white;
  border: none;
  height: 50px;
  margin-right: 20px;
}
.navbar.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar.navbar-default .navbar-header .navbar-toggle:hover,
.navbar.navbar-default .navbar-header .navbar-toggle.active,
.navbar.navbar-default .navbar-header .navbar-toggle:active,
.navbar.navbar-default .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
.navbar.navbar-default .navbar-collapse {
  border: none;
}
.navbar.navbar-default .navbar-collapse.in,
.navbar.navbar-default .navbar-collapse.collapsing {
  background-color: #738297;
  position: relative;
  padding-top: 75px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  top: -75px;
  z-index: 1;
}
.navbar.navbar-default .navbar-collapse.in .navbar-nav li a,
.navbar.navbar-default .navbar-collapse.collapsing .navbar-nav li a {
  text-align: center;
}
.navbar.navbar-default .navbar-collapse .navbar-nav li a {
  line-height: 75px;
  font-size: 16px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
}
.navbar.navbar-default .navbar-collapse .navbar-nav li.active a {
  background-color: transparent;
  border-bottom: white 3px solid;
}
.navbar.navbar-small {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  height: 65px;
}
.navbar.navbar-small #application-button {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  top: -5px;
}
.navbar.navbar-small #application-button span.inner {
  color: #90A2BD;
  background-color: white;
  text-shadow: none;
}
.navbar.navbar-small .navbar-header {
  border: none;
}
.navbar.navbar-small .navbar-header .navbar-brand img {
  height: 40px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.navbar.navbar-small .navbar-collapse.show,
.navbar.navbar-small .navbar-collapse.collapsing {
  background-color: #738297;
  padding-top: 0;
  top: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: -1;
  position: static;
}
.navbar.navbar-small .navbar-collapse.show .navbar-nav li a,
.navbar.navbar-small .navbar-collapse.collapsing .navbar-nav li a {
  text-align: center;
}
.navbar.navbar-small .navbar-collapse .navbar-nav li a {
  line-height: 40px;
  font-size: 14px;
}
